################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/04 - Essential Language Features/.vs
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/
[Oo]bj/
[Ll]og/
/06 - Working with Visual Studio/WorkingWithVisualStudio/wwwroot/lib/
/08 - SportsStore/SportsStore/wwwroot/lib/
/09 - SportsStore - Navigation/SportsStore/wwwroot/lib/
/10 - SportsStore - CartSportsStore/SportsStore/wwwroot/lib/
/11 - SportsStore - AdminSportsStore/SportsStore/wwwroot/lib/
/12 - SportsStore - Security & Deployment/SportsStore/wwwroot/lib/
/13 - Working with Visual Studio Code/InvitesProjects/PartyInvites/wwwroot/
/14 - Configuring Applications/ConfiguringApps/ConfiguringApps/wwwroot/
